body {
    background-color: white;
}

nav {
    background-color: white;
    padding: 30px;
    margin: 0px 0px 100px 0px;
    font-family: 'Montserrat', sans-serif
}



header {
    width: 70vw;
    color: #39CCCC;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header-link{
    color: black
}

.header-link:hover {
    color: #666666
}

main {
    background-color: #F8F8F8;
    padding: 75px 0px 200px 0px;
    font-family: 'Montserrat', sans-serif
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 10px 5px;   
}

.project-text{
    font-size: 20px;
}

.row:hover {
    /* background-color: #ccccff; */
    background-color: #39CCCC;
    color: white;
}

a {
    text-decoration: none;
    color: black
}

footer{ 
    width: 75%;
    margin: 100px 0px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #39CCCC
}

.links {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 50px 0px;
}

.work-space{
    padding: 30px;
}

.project-space{
    padding-left: 30px
}

.contact-link{
    margin-right: 30px;
    font-size: 40px
}

.contact-link:hover{
    color: #ccccff;
}

.email-link{
    color: black
} 

.email-link:hover{
    color: #666666
}

.nav-font{
    font-size: 20px;
    color: black;
}

.nav-font:hover{
    color: #ccccff;
    background-color: white;
}

i {
    padding: 10px
}

img {
    margin: -20px -30px;
    padding: 0px;
}