
body {
    background-color: white;
}

nav {
    background-color: white;
    padding: 30px;
    margin: 0px 0px 100px 0px;
    font-family: 'Montserrat', sans-serif
}

header {
    width: 70vw;
    color: #39CCCC;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header-link{
    color: black
}

.header-link:hover {
    color: #666666
}

main {
    background-color: #F8F8F8;
    padding: 75px 0px 200px 0px;
    font-family: 'Montserrat', sans-serif
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 5px;   
}

.project-text{
    font-size: 20px;
}

.row:hover {
    /* background-color: #ccccff; */
    background-color: #39CCCC;
    color: white;
}

a {
    text-decoration: none;
    color: black
}

footer{ 
    width: 75%;
    margin: 100px 0px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #39CCCC
}

.links {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 50px 0px;
}

.work-space{
    padding: 30px;
}

.project-space{
    padding-left: 30px
}

.contact-link{
    margin-right: 30px;
    font-size: 40px
}

.contact-link:hover{
    color: #39CCCC;
}

.email-link{
    color: black
} 

.email-link:hover{
    color: #666666
}

.nav-font{
    font-size: 20px;
    color: black;
}

.nav-font:hover{
    color: #39CCCC;
    background-color: white;
}

i {
    padding: 10px
}

img {
    margin: -20px -30px;
    padding: 0px;
}

/* Tablet */

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
    }

    header{ 
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    h2 {
        font-size: 40px;

    }

    .work-space {
        display: flex;
        justify-content: center;
        padding: 0px 0px;

    }

    h1 {
        font-size: 40px;
    }
    
    .project-text {
        font-size: 15px;
    }

    main {
        background-color: #F8F8F8;
        padding: 50px 0px 100px 0px;
        font-family: 'Montserrat', sans-serif    
    }

    footer { 
        width: 100%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    
    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* width: 50%; */
        margin: 50px 0px;
    }
}


/* Phone 500px */

@media only screen and (max-width: 500px) {
    nav {
        display: flex;
        justify-content: center;
    }

    header{ 
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    h2 {
        font-size: 35px;

    }

    .work-space {
        display: flex;
        justify-content: center;
        padding: 0px 0px;

    }

    h1 {
        font-size: 35px;
    }
    
    .project-text {
        font-size: 15px;
    }

    main {
        background-color: #F8F8F8;
        padding: 50px 0px 100px 0px;
        font-family: 'Montserrat', sans-serif    
    }

    footer { 
        width: 100%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    
    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* width: 50%; */
        margin: 50px 0px;
    }
}